# Exercise-03 For statement exercises
[Link to the exercise tasks][exercise_03]

[exercise_03]: https://github.com/kokchun/Python-course-AI22/blob/main/Exercises/03-for-statement-exercise.ipynb

## 1. Count numbers

### a)

In [30]:
for number in range(-10,11):
    print(number, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

### b)

In [31]:
for number in range(-10,11,2):
    print(number, end=" ")

-10 -8 -6 -4 -2 0 2 4 6 8 10

## 2. Arithmetic sum

### a)

In [ ]:
total_sum = 0

for number in range(1,101):
    total_sum += number
    print(number, end=" + ")
    if number == 100:
        print(end=" = ")

print(total_sum)

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20 + 21 + 22 + 23 + 24 + 25 + 26 + 27 + 28 + 29 + 30 + 31 + 32 + 33 + 34 + 35 + 36 + 37 + 38 + 39 + 40 + 41 + 42 + 43 + 44 + 45 + 46 + 47 + 48 + 49 + 50 + 51 + 52 + 53 + 54 + 55 + 56 + 57 + 58 + 59 + 60 + 61 + 62 + 63 + 64 + 65 + 66 + 67 + 68 + 69 + 70 + 71 + 72 + 73 + 74 + 75 + 76 + 77 + 78 + 79 + 80 + 81 + 82 + 83 + 84 + 85 + 86 + 87 + 88 + 89 + 90 + 91 + 92 + 93 + 94 + 95 + 96 + 97 + 98 + 99 + 100 +  = 5050

### b)

In [ ]:
total_sum = 0

for number in range(1,100,2):
    total_sum += number
    print(number, end=" + ")
    if number == 99:
        print(end=" = ")

print(total_sum)

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 +  = 2500

## 3. Multiplication table

### a)

In [1]:
table_number = 6

for number in range(0,11):
    result = table_number * number
    print(result, end=" ")

0 6 12 18 24 30 36 42 48 54 60

### b)

In [2]:
user_table_number = int(input("Which multiplication table do you what to calculate (integer)? "))
user_start_number = int(input("Which number do you want to start with (integer)? "))
user_end_number = int(input("Which number do you want to end with (integer)? "))

for number in range(user_start_number, user_end_number + 1):
    result = user_table_number * number
    print(f"{user_table_number} * {number} = {result}")

7 * 9 = 63
7 * 10 = 70
7 * 11 = 77
7 * 12 = 84
7 * 13 = 91
7 * 14 = 98
7 * 15 = 105
7 * 16 = 112
7 * 17 = 119

### c)

In [4]:
for table_number in range(0,11):
    print("\n")
    for number in range(0,11):
        print(f"{table_number * number}", end=" ")

0 0 0 0 0 0 0 0 0 0 0

0 1 2 3 4 5 6 7 8 9 10

0 2 4 6 8 10 12 14 16 18 20

0 3 6 9 12 15 18 21 24 27 30

0 4 8 12 16 20 24 28 32 36 40

0 5 10 15 20 25 30 35 40 45 50

0 6 12 18 24 30 36 42 48 54 60

0 7 14 21 28 35 42 49 56 63 70

0 8 16 24 32 40 48 56 64 72 80

0 9 18 27 36 45 54 63 72 81 90

0 10 20 30 40 50 60 70 80 90 100

## 4. Faculty

In [ ]:
n = int(input("Enter a integer number: "))
sum_total = 1

for number in range(1, n + 1):
    sum_total *= number

print(f"For the number {n} the factorial (n!) equals {sum_total}.")
# Used as a source https://en.wikipedia.org/wiki/Factorial

For the number 9 the factorial (n!) equals 362880.

## 5. Guess the number

In [ ]:
import random as rnd

computer_guess = rnd.randint(1000,9999)
guesses = 0
for number in range(1000,10000):
    if number == computer_guess:
        print(f"After {guesses} number of guesses the number {computer_guess} was guessed")
    guesses += 1

After 103 number of guesses the number 1103 was guessed